<section class="project-section">
    <div class="project-section__title">
        <h2 class="heading-secondary">we build great apps for web</h2>
    </div>
    <div class="project-section__data">
        <div class="project-section__data--content">
            <h2 class="heading-tertiary">Experience the most aadvanced sites in SCSS</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. With sass development your websie will me musch more efficient and user friendly. because user hate to wait. OOPS !</p>
            <h2 class="heading-tertiary">let us be the reason for the responsivenes of your website</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extension language in the world. With sass development your websie will me musch more efficient and user friendly. because user hate to wait. OOPS !</p>
            <div><a href="#" class="btn-s">view more &rarr;</a></div>
        </div>
        <div class="project-section__data--album   album">
            <img src="./img/album1.png" alt="picture of web dev" class="album-img album__1">
            <img src="./img/album2.jpg" alt="picture of responsive design"  class="album-img album__2">
            <img src="./img/album3.jpg" alt="picture of web-ops"  class="album-img album__3">
        </div>
    </div>
</section>