<section class="anouncement">
    <h1 class="anouncement__heading">Our heartly condolences with the victims of Murree incident, we want fair investigatioin</h1>
    <div class="anouncement__arrow"></div>
</section>