<section class="section-3d-card">
    <div class="align-fix">
        <h2 class="heading-secondary">
            Sass in different environments
        </h2>
    </div>
    <div class="flex-container" id="flex-container-fix">
        <div class="card-container">
            <div class="d3-card">
                <div class="d3-card__side d3-card__side--front">
                    <div class="d3-card__photo d3-card__photo--1">
                    </div>
                    <div class="d3-card__heading">
                        <span class="d3-card__heading-span d3-card__heading-span--1">Sass with HTML & CSS</span>
                    </div>
                    <div class="d3-card__content">
                        <div class="d3-card__content__text">
                            <p class="para">1. Reference symbol ( & )</p>
                            <hr class="line">
                            <p class="para">2. Fuctions</p>
                            <hr>
                            <p class="para">3. Interpolation</p>
                            <hr>
                            <p class="para">4. Partials and @import directive</p>
                            <hr>
                            <p class="para">5. Lists and @each directive</p>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="d3-card__side d3-card__side--back d3-card__side--back--1">
                    <p class="para para--white">Want to</p>
                    <h2 class="back-heading">Know More ?</h2>
                    <a href="" class="btn btn--white">Click me</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="d3-card">
                <div class="d3-card__side d3-card__side--front">
                    <div class="d3-card__photo d3-card__photo--2">
                    </div>
                    <div class="d3-card__heading">
                        <span class="d3-card__heading-span d3-card__heading-span--2">Sass with React JS</span>
                    </div>
                    <div class="d3-card__content">
                        <div class="d3-card__content__text">
                            <p class="para">1. Reference symbol ( & )</p>
                            <hr class="line">
                            <p class="para">2. Fuctions</p>
                            <hr>
                            <p class="para">3. Interpolation</p>
                            <hr>
                            <p class="para">4. Partials and @import directive</p>
                            <hr>
                            <p class="para">5. Lists and @each directive</p>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="d3-card__side d3-card__side--back d3-card__side--back--2">
                    <p class="para para--white">Want to</p>
                    <h2 class="back-heading">Know More ?</h2>
                    <a href="" class="btn btn--white">Click me</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="d3-card">
                <div class="d3-card__side d3-card__side--front">
                    <div class="d3-card__photo d3-card__photo--3">
                    </div>
                    <div class="d3-card__heading">
                        <span class="d3-card__heading-span d3-card__heading-span--3">Sass with Express&Node</span>
                    </div>
                    <div class="d3-card__content">
                        <div class="d3-card__content__text">
                            <p class="para">1. Reference symbol ( & )</p>
                            <hr class="line">
                            <p class="para">2. Fuctions</p>
                            <hr>
                            <p class="para">3. Interpolation</p>
                            <hr>
                            <p class="para">4. Partials and @import directive</p>
                            <hr>
                            <p class="para">5. Lists and @each directive</p>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="d3-card__side d3-card__side--back d3-card__side--back--3">
                    <p class="para para--white">Want to</p>
                    <h2 class="back-heading">Know More ?</h2>
                    <a href="" class="btn btn--white">Click me</a>
                </div>
            </div>
        </div>
    </div>
</section>