<footer class="footer">
    <div class="align-fix">
        <h1 class="footer__top">Website under maintenance</h1>
    </div>
    <div class="flex-container" id="flex-container-fix">
        <div class="footer__sub footer__sub--left">
            <div class="footer__sub__footer-nav">
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--1">company</a>
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--2">careers</a>
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--3">privacy policy</a>
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--4">terms</a>
                <a href="https://www.linkedin.com/search/results/all/?keywords=mian%20bilal%20sadiq&origin=RICH_QUERY_SUGGESTION&position=0&searchId=2233499c-6a9d-435f-a146-c0f0f017f295&sid=F)o" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--4">contact us</a>
            </div>
        </div>
        <div class="footer__sub footer__sub--right">
            <div class="footer__sub__content">
                this is a demo website to test out my front end skills 
                and for the demonstration, how much 
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--4">HTML5</a>
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--4">CSS3</a>
                <a href="" class="footer__sub__footer-nav__links footer__sub__footer-nav__links--4">SCSS</a>
                can be powerful. this website is currently under maintenance and development. new feature will 
                be added from time to time. If you want your websites to developed by us pleas make sure to contact us
            </div>
        </div>
    </div>
    <h3 class="copyright-claim">&copy;2022 Apex Group Pak, Inc. All Rights reserved.</h3>
</footer>