<header>    
    <div class="header">
        <div class= header__logo-box>
            <!-- <img src="./img/apex-logo.png" alt="Apex group logo image" class="header__logo"> -->
        </div>
        <div class="header__navigation">
            <div class="nav-bar">
                <a href="/" class="nav-bar--links">Home</a>
                <a href="/Services" class="nav-bar--links">Services</a>
                <a href="/Projects" class="nav-bar--links">Projects</a>
                <a href="https://www.linkedin.com/search/results/all/?keywords=mian%20bilal%20sadiq&origin=RICH_QUERY_SUGGESTION&position=0&searchId=2233499c-6a9d-435f-a146-c0f0f017f295&sid=F)o" class="nav-bar--links">Contact</a>
            </div>
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Apex Devs</span>
                <span class="heading-primary--sub">Your Requirement Our Priority</span>
            </h1>
            <a href="#" class="btn btn--white btn--animated">discover more</a>
        </div>
    </div>
</header>