<section class="section-services">
    <div class="flex-container">

        <div class="card">
            <i class="icon-basic-sheet-pencil  card--font"></i>
            <h2 class="heading-tertiary">Clean Code</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extension Sass is the most mature, stable, and powerful professional grade CSS extension</p>
        </div>
        <div class="card">
            <i class="icon-basic-star  card--font"></i>
            <h2 class="heading-tertiary">Advance Styling</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extensionSass is the most mature, stable, and powerful professional grade CSS extension</p>
        </div>
        <div class="card">
            <i class="icon-basic-anticlockwise   card--font"></i>
            <h2 class="heading-tertiary">Reusability</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extensionSass is the most mature, stable, and powerful professional grade CSS extension</p>
        </div>
        <div class="card">
            <i class="icon-basic-smartphone  card--font"></i>
            <h2 class="heading-tertiary">Responsiveness</h2>
            <p class="paragraph">Sass is the most mature, stable, and powerful professional grade CSS extension Sass is the most mature, stable, and powerful professional grade CSS extension</p>
        </div>
    </div>
</section>