<section class="story-section">
    <div class="video">
        <video class="video__container" autoplay muted loop>
            <source src="./img/video.mp4" type="video/mp4">
            Sorry ! Your browser doesn't support this video.
        </video>
    </div>
    <div class="align-fix">
        <h2 class="heading-secondary">Meet our Satisfied Clients</h2>
    </div>
    <div class="story">
        <div class="story__shape">
            <img src="./img/client-1.jpeg" alt="image of person" class="story__shape__img">
            <figCaption class="story__caption">
                jonas Doe
            </figCaption>
        </div>
        <div class="story__text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas, incidunt error ipsam itaque
                aliquam commodi, odio, molestias suscipit labore accusamus sed eum deleniti sequi? Ullam quasi nam 
                animi sed.Nihil quas, incidunt error ipsam itaque aliquam commodi, odio, molestias suscipit labore 
            </p>
        </div>
    </div>
    <div class="story">
        <div class="story__shape">
            <img src="./img/client-2.jpeg" alt="image of person" class="story__shape__img">
            <figCaption class="story__caption">
                martha
            </figCaption>
        </div>
        <div class="story__text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas, incidunt error ipsam itaque
                aliquam commodi, odio, molestias suscipit labore accusamus sed eum deleniti sequi? Ullam quasi nam 
                animi sed.Nihil quas, incidunt error ipsam itaque aliquam commodi, odio, molestias suscipit labore 
            </p>
        </div>
    </div>
    <div class="align-fix"><a href="#" class="btn-s btn--stories">Read all stories &rarr;</a></div>
</section>