@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
        outline: none !important;
    }
}

*{
    &::before,
    &::after{
        padding:0;
        margin: 0;
        box-sizing: inherit;
    }
}

html{
    font-size: 62.5%;

    @include mqm(bigDesk){
        font-size: 75%;
    }
    @include mqm(tabLand){
        font-size: 58%;
    }
    @include mqm(tabPort){
        font-size: 50%;
    }
    @include mqm(mobile){
        font-size: 43.75%;
    }
}

body{
    box-sizing: border-box;
}