.album{
    position: relative;

    @media(max-width:64.125em){
        top: 6rem;
    }

    & img{
        width: 45%;
        box-shadow: .5rem 1rem 2rem rgba(black, 0.5);
        position: absolute;
        transition: all .4s ease-in-out;

        &:hover{
            outline: 1rem solid $primary-color;
            outline-offset: 1rem;
            transform: scale(1.2);
            box-shadow: 1rem 2rem 3rem rgba(black, .5);
            z-index: 2;
        }
    }
    &__1{
        top: -3rem;
        left: 8%;
    }
    &__2{
        top: 3%;
        left: 45%;
    }
    &__3{
        top: 37%;
        left: 28%;
        @media (max-width:71.625em) {
            top : 20%;           
        }
    }

    &:hover &-img:not(:hover){
        transform: scale(.8);
    }
}