//themes colors
$primary-color: #00c3ff; //#F0F2F0; 
$secondary-color: #fd1d1d;
$tertiary-color: #ffff1c; //#000C40;

//text colors
$text-color-grey:#777;
$text-color-white:#fff;
$text-color-white-light: #f7f7f7;

//background-colors
$color-grey-light: #f7f7f7;
$color-grey-dark : #333;

//linera gradients for cards
$card-1-primary: #03001e;
$card-1-secondary:#7303c0;
$card-1-tertiary: #ec38bc;

$card-2-primary: #667db6;
$card-2-secondary:#fdbb2d;
$card-2-tertiary: #667db6;

$card-3-primary: #1a2a6c;
$card-3-secondary:#b21f1f;
$card-3-tertiary: #fdbb2d;